.categorias {
  font-family: Roboto;
}
.titulo-categorias {
  margin: 20px 20px 10px 20px;
}
.container-botoes-categoria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: center;
  justify-items: center;
  margin: 0px 20px;
  text-align: center;
}

.frutas-botao,
.Verduras-botao,
.Peixes-botao,
.Cereais-botao {
  width: 60px;
  height: 60px;
  border: none;
  margin: 0;
  border-radius: 12px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
}
.frutas-botao {
  background-color: rgba(227, 137, 137, 0.88);
  background-image: url("../maca.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
.Verduras-botao {
  background-color: rgba(130, 235, 141, 0.79);
  background-image: url("../verdura.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
.Peixes-botao {
  background-color: rgba(156, 194, 222, 1);
  background-image: url("../peixe.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
.Cereais-botao {
  background-color: rgba(241, 205, 112, 0.57);
  background-image: url("../cereal.svg");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}
.fruta-p,
.verdura-p,
.peixe-p,
.cereais-p {
  display: inline-block;
  margin: 0 auto;
}
