.frutas-dia {
  font-family: Roboto;
}
.titulo-frutas-dia {
  margin: 20px 20px 10px 20px;
}
.container-frutas {
  display: grid;
  grid-template-columns: 120px 120px;
  gap: 10px;
  margin: 0 20px;
  justify-content: center;
}

.fruta-laranja {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 12px;
  background: linear-gradient(90deg, #e8cb9d 0%, #fff 100%);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.fruta-melancia {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 12px;
  background: linear-gradient(90deg, #e8cb9d 0%, #fff 100%);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.fruta-uva {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 12px;
  background: linear-gradient(90deg, #e8cb9d 0%, #fff 100%);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.fruta-brocolis {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 12px;
  background: linear-gradient(90deg, #e8cb9d 0%, #fff 100%);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.container-frutas img {
  mix-blend-mode: multiply;
  width: 89px;
  height: 89px;
  position: absolute;
  top: 12%;
  left: 9%;
}
.container-frutas .heart-cheio {
  height: 18px;
  position: relative;
  top: 10px;
  left: 55px;
}
