/* font-family: 'Alata', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --fundo: #dfe8ea;
  --borda: rgba(16, 22, 41, 0.5);
  --verde: #36cf8f;
}

.container {
  width: 404px;
  height: 634px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--fundo);
}

.container-login h1 {
  text-align: right;
  margin-top: 58px;
  margin-bottom: 73px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  max-width: 222px;
}

.form-container {
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 22px;
}

input {
  border: 1px solid var(--borda);
  color: #101629;
  font-family: Alata;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 1.05px;
  border-radius: 12px;
  background-color: transparent;
  width: 234px;
}
input:focus {
  border-color: var(--verde);
  outline: none;
}

.botao-login {
  font-family: "Roboto", sans-serif;
  background-color: var(--verde);
  width: 100%;
  margin-top: 20%;
  height: 47px;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  border: 0;
}
.botao-login a {
  outline-style: none;
  padding: 20px 50px;
  border-radius: 12px;
  color: #101629;
  text-decoration: none;
}
.botao-login a::selection {

}

.footer-login p {
  display: grid;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Alata", sans-serif;
  font-size: 400;
}
.footer-login {
  display: grid;
  justify-content: center;
}
.cadastro-link {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: "Alata", sans-serif;
  font-size: 400;
  color: var(--verde);
}
.cadastro-link a {
  text-decoration: none;
  color: inherit;
}
