/* font-family: 'Alata', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --fundo: #dfe8ea;
  --borda: rgba(16, 22, 41, 0.5);
  --verde: #36cf8f;
  --letra: #101629;
  --noticia: #f0c6c6;
  --confira: #9cdec5;
}

body {
  margin: 0;
  padding: 0;
}
.noticia {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 0rem 1.25rem;
  border-radius: 12px;
  padding: 0rem 1.25rem 1.25rem 1.5625rem;
  background-color: var(--noticia);
}
.noticia img {
  width: 6.25rem;
  position: relative;
  top: 1.375rem;
  right: -0.9375rem;
}
.imagem-pera {
  display: grid;
  align-items: end;
  justify-content: end;
}

.botao-noticia {
  left: 0.1875rem;
  position: relative;
  border-radius: 0.75rem;
  font-size: 0.9375rem;
  font-weight: 500;
  margin: 0;
  padding: 10px 25px;
  background: var(--confira);
  border: none;
  font-size: 16px;
  font-family: inherit;
  color: var(--letra);
  text-align: left;
  cursor: pointer;
  outline: none;
}

.botao-noticia a {
  text-decoration: none;
  color: inherit;
}
.texto-noticia h3 {
  color: var(--letra);
  font-family: Inter;
  font-size: 0.9375rem;
  font-weight: 500;
  max-width: 15ch;
  position: relative;
  top: 0.3125rem;
}

/* @media (max-width: 19rem) {
  .noticia {
    padding: 0rem 1.5625rem 2.1875rem 1.5625rem;
  }
} */
