@import url(header-main.css);
@import url(noticia.css);
@import url(cadastro.css);
@import url(login.css);
@import url(categorias.css);

html{
  margin: 0px;
}
body {
  background-color: var(--fundo);
  margin: 0;
  padding: 0;
}
