:root {
  --amarelo: #ffbb52;
  --verde-claro: #abc5a5;
  --verde-escuro: #526b4c;
  --fundo: #668578;
}
p {
  margin: 0px;
}
body {
  background-color: var(--fundo);
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.conteudo {
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  border-left: 4px solid #000;
  box-shadow: inset 0 0 0 4px #000;
  height: 900px;
  width: 100%; /*mudar aqui se a borda da direita ficar diferente*/
}
.header {
  position: fixed;
  left: -1px;
  top: 0px;
  z-index: 1;
  background-color: var(--amarelo);
  border: 1px solid #000;
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  box-shadow: inset 0 0 0 1px #000;
}
.voltar {
  padding: 10px;
  width: 22px;
  height: 22px;
}
.escolha {
  font-size: 23px;
  font-weight: bold;
}
.gear {
  position: relative;
  top: 3px;
  padding: 10px;
  width: 22px;
  height: 20px;
}
.main {
  position: relative;
  display: grid;
  margin: 80px auto 20px auto;
  width: 320px;
  height: 235px;
  border: 1px solid #000;
  background: var(--verde-claro);
  grid-template-columns: 122px 1fr;
}
.nome-fruta {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 9px;
  left: 25px;
  width: 100px;
  height: 10%;
}
.kiwi-main {
  position: relative;
  top: 30px;
  left: 10px;
}
.calorias {
  font-size: 12px;
  position: absolute;
  top: 217px;
  left: 25px;
  width: 30%;
  height: 10%;
}
.descricao {
  display: grid;
  align-content: center;
  font-size: 15px;
}
.texto {
}
.pontuacao {
  margin-top: 20px;
}
/* Topo Completo */

.grid-frutas {
  display: grid;
  width: 300px;
  margin: 20px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  place-content: center;
}
.grid-frutas img {
  width: 99.9%;
}
.campo-pesquisa {
  position: fixed;
  bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.botao-fim {
  position: fixed;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#voltar,
#adicionar,
#saber-mais {
  border: 1px solid black;
  background-color: var(--verde-claro);
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  flex: 1;
}
